// We don't need to support that...
support-for-ie = false
vendor-prefixes = official webkit moz ms

// Path to the URL root where the static files can be found.
static_url = '/'
// Path to the actual physical location where static files reside.
static_path = '../assets/'

// Labels to refer to specific breakpoints.
breakpoints = {
	phone: 0,
	tablet: 600px,
	desktop: 1024px,
	widescreen: 1280px
}

// Typography settings
font-family = proxima-nova, helvetica, arial, sans-serif
font-size = 14px
line-height = 1.5
regular-weight = 300
emphasis-weight = 600

// Some nice color overrides.
pink       = #F5274D
red        = #F16767
orange     = #FD9420
beige      = #E6E6E0
cream      = #FFE3AD
yellow     = #FAD14A
green      = #A6E22D
aqua       = #00CACC
azul       = #52D7FE
cyan       = #07C8FF
blue       = #00A6FC
purple     = #8E48C2
white      = #FFFFFF
pale-gray  = #F6F6F6
light-gray = #ECECEC
gray       = #CCCCCC
black      = #333333
void       = #000000
// Translucent darks.
very-dark   = rgba(#000, .8)
dark        = rgba(#000, .5)
dim         = rgba(#000, .2)
subtle      = rgba(#000, .08)
// Translucent lights.
very-bright = rgba(#fff, .8)
bright      = rgba(#fff, .5)
pale        = rgba(#fff, .2)

