transition-fade(state=false, opacity=1, duration=0.3s)
	transition-property: opacity, visibility
	transition-duration: duration
	visibility: state? visible : hidden
	opacity: state? opacity : 0

transition-appear(state=false, direction=up, distance=35%, duration=0.5s)
	dir = direction is up? +1 : -1
	transition-property: transform, opacity, visibility
	transition-duration: duration
	visibility: state? visible : hidden
	opacity: state? 1 : 0
	transform: translateY(distance * (state? 0 : dir))
