input
button
textarea
select
	outline: none
	border: none
	color: inherit
	font-size: 1rem
	background: transparent
	line-height: 1

.button
	color = white
	padding: 10px 20px
	color: rgba(color, .8)
	border: solid 2px @color
	border-radius: 4px
	clickable: true
	&.button-primary
		font-weight: primary? emphasis-weight : regular-weight
	&:hover
	&:focus
	&.focused
		color: color
		border-color: @color
		text-shadow: 0 0 10px rgba(@color, .8)
		box-shadow: 0 0 15px rgba(@color, .3), inset 0 0 10px rgba(@color, .3)
	&:active
	&.active
		color: contrast(color)
		background: color
		border-color: color
		text-shadow: none
	[disabled]
	&.disabled
		disabled: true

.label
	font-size: 1rem
	font-weight: emphasis-weight
	color: cyan

.input
.textarea
	font-size: 1rem
	background: transparent
	color: inherit

.toggle
	.toggle-control
		display: none
		& + .toggle-label
			clickable()
		& + .toggle-label .toggle-caption
			display: inline-block
			text-indent: -9999px

.field.field-inline
	horizontal-layout()
	padding: 10px 20px
	color: white
	.field-main
		flex: auto
	.label
		margin-right: 10px
		min-width: 2rem
	.input
		margin-top: -2px
	.toggle
		width: 25px
		line-height: 0
