app-padding = (35px 50px)

.phatgifs-app

	stretched()
	background: url(/images/background.png) center repeat
	padding: app-padding

	.main-logo
		position: absolute
		top: app-padding[0]
		left: app-padding[1]
		z-index: 10

	.editor-panel
		transition-fade: true
	&.is-dimmed .editor-panel
		transition-fade: false

	.editor-component.component-cue
	.editor-component.component-vcue
		width: 0

	.editor-component.component-sound .mute-control
		.toggle-control + .toggle-label:before
			@extends .icon
			@extends .icon:before
			@extends .icon-volume-up:before
			position: relative
			top: 10px
			padding: 0 15px 0 0px
		.toggle-control:checked + .toggle-label:before
			@extends .icon-volume-off:before
