*
	margin: 0
	padding: 0
	box-sizing: border-box

html
body
	height: 100%

html
	font-family: font-family
	font-size: font-size
	line-height: line-height
	font-weight: regular-weight

body
	overflow: hidden

a
	color: inherit
	text-decoration: none
	&:hover
		text-decoration: underline

.emphasis-weight
	font-weight: 600

.emphasis
	color: cyan
