.editor-panel
	stretched()
	top: auto
	height: 85px

	.editor-page
		stretched()
		padding: 20px

	.editor-actions
		centered-layout()
		transition-fade: true
	&.is-editing
		.editor-actions
			transition-fade()

	.editor-components
		transition-appear: false, up
		horizontal-layout()
		.editor-component
			flex: auto
	&.is-editing
		.editor-components
			transition-appear: true, up

	.editor-component .input
		// Mask the ending of the fields.
		// Note that this is only supported in webkit.
		-webkit-mask: -webkit-linear-gradient(right, transparent, black 30%) right
		&:focus
			-webkit-mask: none

	.mute-control
		color: cyan
