logo-shadow-bevel = 2px
logo-shadow-amount = 55%
logo-glow-lighten = 60%
logo-glow-amount = .4
logo-glow-size = 30px

@keyframes animation-pulse-bevel-white
	from
		text-shadow:
			0 0 logo-glow-size rgba(lighten(white, logo-glow-lighten), logo-glow-amount),
			0 0 0 darken(white, logo-shadow-amount),
			0 (0 / 2) 0 darken(white, logo-shadow-amount)
		transform: translateY(0)
	to
		text-shadow:
			0 0 logo-glow-size rgba(lighten(white, logo-glow-lighten), logo-glow-amount),
			0 logo-shadow-bevel 0 darken(white, logo-shadow-amount),
			0 (logo-shadow-bevel / 2) 0 darken(white, logo-shadow-amount)
		transform: translateY(logo-shadow-bevel * -1)

@keyframes animation-pulse-bevel-cyan
	from
		text-shadow:
			0 0 logo-glow-size rgba(lighten(cyan, logo-glow-lighten), logo-glow-amount),
			0 0 0 darken(cyan, logo-shadow-amount),
			0 (0 / 2) 0 darken(cyan, logo-shadow-amount)
		transform: translateY(0)
	to
		text-shadow:
			0 0 logo-glow-size rgba(lighten(cyan, logo-glow-lighten), logo-glow-amount),
			0 logo-shadow-bevel 0 darken(cyan, logo-shadow-amount),
			0 (logo-shadow-bevel / 2) 0 darken(cyan, logo-shadow-amount)
		transform: translateY(logo-shadow-bevel * -1)

.phatgifs-logo
	a { text-decoration: none }
	font-size: 1.5rem

	// Logo fade
	transition-fade: true, 0.2
	transition-property: opacity, visibility
	&:hover
		transition-fade: true, 1

	// Color fade
	.logo-part1
	.logo-part2
	.logo-part3
		display: inline-block
		transition-property: color
		transition-duration: .2s
		color: white
	.logo-part3
		color: transparent

	// Pulse each part
	&:hover .logo-part1
		color: white
		animation: animation-pulse-bevel-white .4s infinite alternate
	&:hover .logo-part2
		color: cyan
		animation: animation-pulse-bevel-cyan .4s infinite alternate
	&:hover .logo-part3
		color: cyan
		animation: animation-pulse-bevel-cyan .4s infinite alternate

	// Delay each letter to create a moving wave
	for i in (1..9)
		&:hover .logo-letter{i}
			animation-delay: .26s * i
