.combo-viewer
	stretched()

	.combo-content
		stretched()
		centered-layout()
		margin: 100px


	// Players

	.combo-video-player
		.player-content *
			border-radius: 5px

	.combo-sound-player
		position: absolute
		visibility: hidden
		z-index: -1


	// Overlay

	.combo-overlay
		stretched()
		centered-layout()
		.combo-status
			flex: none
			size: 200px 160px

	.combo-status
		color: white
		text-align: center
		.status-icon
			@extend .icon
			flex: none
			flex-align-items: centered
			color: white
			font-size: 4rem
			margin: 0
			width: 6rem
			height: 5.8rem
		.status-message
			margin-top: 1rem


	// States

	.combo-video-player
		transition-fade: true
	&.combo-is-loading
	&.combo-is-error
		.combo-video-player
			transition-fade: false

	.combo-status
		transition-fade: false
		.status-icon
			color: inherit
	&.combo-is-loading
	&.combo-is-error
		.combo-status
			transition-fade: true
	&.combo-is-loading
		.combo-status .status-icon
			@extend .icon-spin
			&:before
				@extend .icon-refresh:before
	&.combo-is-error
		.combo-status
			color: yellow
		.combo-status .status-icon
			&:before
				@extend .icon-warning-sign:before
