// Returns the color which best contrasts the given one.
contrast(color, dark-color=black, light-color=white)
	return light(color)? dark-color : light-color

// Makes an element seem clickable.
clickable(value=true)
	cursor: value? pointer : auto

// Disables text selection on the element.
selectable(value=true)
	-moz-user-select:    value? none : initial
	-webkit-user-select: value? none : initial

// Makes an element disabled by putting an after
// overlay over it.
disabled(value=true)
	if value
		position: relative
		clickable: false
		&::after
			stretched()
			content: ""
	else
		&::after
			position: initial
			content: none