// Makes an element occupy all the space of its parent.
stretched()
	position: absolute
	left: 0; right: 0
	top: 0; bottom: 0

// Disposes children in a vertical layout.
vertical-layout()
	display: flex
	flex-direction: column

// Disposes children in a horizontal layout.
horizontal-layout()
	display: flex
	flex-direction: row

// Disposes children at the center, without stretching.
centered-layout()
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

// Returns a screen media query in the given range.
breakpoint(from=null, to=null)
	query = "only screen and "
	if from
		min = breakpoints[from]
		query += "(min-width: "+min+")"
	if from and to
		query += " and "
	if to
		max = breakpoints[to]
		query += "(max-width: "+max+")"
	return query
