.field.field-inline.editor-component

	label.label
		if _view.component == 'video'
			| VID
		else if _view.component == 'sound'
			| SND
		else if _view.component == 'cue'
			| CUE
		else if _view.component == 'vcue'
			| CUE

	if _view.component == 'sound'
		.toggle.mute-control
			input.toggle-control(name='mute-sound', id='mute-sound', type='checkbox')
			label.toggle-label(for='mute-sound')
				span.toggle-caption Mute sound

	input.input.field-main(name='component', tabindex=1)