a(href='/')
	h1.phatgifs-logo.main-logo
		span.logo-part1.logo-letter1 P
		span.logo-part1.logo-letter2 H
		span.logo-part1.logo-letter3 A
		span.logo-part1.logo-letter4 T
		span.logo-part2.logo-letter5 G
		span.logo-part2.logo-letter6 I
		span.logo-part2.logo-letter7 F
		span.logo-part2.logo-letter8 S
		span.logo-part3.logo-letter9 !
